<html>
<head>
    <title> Gestion livraison </title>


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="stylesheet" href="{{ absolute_url(asset('css/bootstrap.min.css')) }}"></link>
    <link rel="stylesheet" href="{{ absolute_url(asset('css/simple-sidebar.css')) }}"></link>

    <style>
        .list-unstyled{
            color: red;
        }
    </style>

</head>

<body>


    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">

            <a class="navbar-brand" href="#">gestion livraison</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ absolute_url(asset('')) }}home">Accueil </a>
                    </li>
<li class="nav-item active">

                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <a href="{{ path('fos_user_security_logout') }}" class="nav-link"  >Deconnecter</a>
                        {% else %}
                            <a href="{{ path('fos_user_security_login') }}" class="nav-link">Se connecter</a>

                        {% endif %}

</li>
                </ul>
            </div>
        </nav>


