{{ include('hf/header_gestionnaire.html.twig') }}
<style>
    .jumbotron{
        padding: 20px;
    }
</style>
<style>
    body {
        background-image: url("{{ absolute_url(asset('Bundles/ccccccccccccc.jpg')) }}");
        background-color: #cccccc;
    }
</style>

<div class="container">
<br>

    <a href="{{ path('mission_new') }}" class="btn btn-primary">Crée mission</a>
    {% set date = "" %}
    {% for m in missions %}
        {% if date =="" %}
            {% set date = m.dateMis|date %}
            <div style="text-align: right"><h1 class="badge badge-pill badge-light" style="color: #0a0a0a">{{ date }}</h1></div>
            <div class="jumbotron">
                <p><a href="{{ path('mission_show', { 'id': m.id }) }}">{{ m.id }}</a></p>

                <h5>Chauffeur : {{ m.idChauf }}</h5>
                <ul><h3 style="color: blue">list client</h3>
                    <!--  <a href="{{ path('client_new') }}">Create a new client</a> -->

                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Adress</th>
                            <th>Numero telephone</th>
                            <th>prix</th>
                            <th>produit</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for c in m.idClient %}
                            <tr>
                                <td> {{ c.nom }}</td>
                                <td>{{ c.adresse }}</td>
                                <td> {{ c.tel }}</td>
                                <td> {{ c.prix }}</td>
                                <td>{% for p in c.IdProduit %}
                                        {{ p.nomProduit }}
                                    {% endfor %}</td>
                                <td>
                                <td>
                                    <a href="{{ path('client_edit', { 'id': c.id }) }}" class="btn btn-warning">Modifier</a>
                                    <a href="{{ path('client_delete', { 'id': c.id }) }}" class="btn btn-warning">Supprimer</a>

                                </td>

                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>


                </ul>
                <a href="{{ path('mission_edit',{'id':m.id}) }}" class="btn btn-light">Modifier</a>
                <a href="{{ path('mission_delete',{'id':m.id}) }}" class="btn btn-secondary">Supprimer</a>
            </div>
        {% else %}
            {% if date!= m.dateMis|date %}
                {% set date = m.dateMis|date %}
                <div style="text-align: right "><h1 class="badge badge-pill badge-light" style="color: #0a0a0a">{{ date }}</h1></div>

                <div class="jumbotron">
                    <p><a href="{{ path('mission_show', { 'id': m.id }) }}">{{ m.id }}</a></p>

                    <h5>Chauffeur : {{ m.idChauf }}</h5>
                    <ul><h3 style="color: blue">list client</h3>
                        <!--  <a href="{{ path('client_new') }}">Create a new client</a> -->

                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>Nom</th>
                                <th>Adress</th>
                                <th>Numero telephone</th>
                                <th>prix</th>
                                <th>produit</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for c in m.idClient %}
                                <tr>
                                    <td> {{ c.nom }}</td>
                                    <td> {{ c.adresse }}</td>
                                    <td> {{ c.tel }}</td>
                                    <td> {{ c.prix }}</td>
                                    <td>{% for p in c.IdProduit %}
                                            {{ p.nomProduit }} <br>
                                        {% endfor %}</td>
                                    <td>
                                        <a href="{{ path('client_edit', { 'id': c.id }) }}" class="btn btn-warning">Modifier</a>
                                        <a href="{{ path('client_delete', { 'id': c.id }) }}" class="btn btn-warning">Supprimer</a>
                                    </td>

                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>


                    </ul>
                    <a href="{{ path('mission_edit',{'id':m.id}) }}" class="btn btn-light">Modifier</a>
                    <a href="{{ path('mission_delete',{'id':m.id}) }}" class="btn btn-secondary">Supprimer</a>
                </div>
            {% else %}

                {% set date = m.dateMis|date %}
                <div style="text-align: right "><h1 class="badge badge-pill badge-light" style="color: #0a0a0a">{{ date }}</h1></div>
                <div class="jumbotron">
                    <p><a href="{{ path('mission_show', { 'id': m.id }) }}">{{ m.id }}</a></p>
                    <p>
                    <h5>Chauffeur : {{ m.idChauf }}</h5>
                    <ul><h3 style="color: blue">list client</h3>
                        <!--  <a href="{{ path('client_new') }}">Create a new client</a> -->

                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>Nom</th>
                                <th>Adress</th>
                                <th>Numero telephone</th>
                                <th>prix</th>
                                <th>produit</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for c in m.idClient %}
                                <tr>
                                    <td> {{ c.nom }}</td>
                                    <td> {{ c.adresse }}</td>
                                    <td> {{ c.tel }}</td>
                                    <td> {{ c.prix }}</td>
                                    <td>{% for p in c.IdProduit %}
                                            {{ p.nomProduit }} <br>
                                        {% endfor %}</td>
                                    <td>
                                        <a href="{{ path('client_edit', { 'id': c.id }) }}" class="btn btn-warning">Modifier</a>
                                        <a href="{{ path('client_delete', { 'id': c.id }) }}" class="btn btn-warning">Supprimer</a>
                                    </td>

                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>

                    </ul>
                    <a href="{{ path('mission_edit',{'id':m.id}) }}" class="btn btn-light">Modifier</a>
                    <a href="{{ path('mission_delete',{'id':m.id}) }}" class="btn btn-secondary">Supprimer</a>
                </div>
            {% endif %}
        {% endif %}


    {% endfor %}
</div>
{{ include('hf/footer.html.twig') }}
