{{ include('hf/header_gestionnaire.html.twig') }}
{% form_theme form 'GoogleMapsBundle:Form:google_maps_layout.html.twig'  %}
<style>
    body {
        background-image: url("{{ absolute_url(asset('Bundles/bureau-twenty-1920x1027.jpg')) }}");
        background-color: #cccccc;
    }
</style>

<div class="container">
<h1>Mission creation</h1>

    {{ form_start(form) }}
        {{ form_row(form.IdChauf) }}
        {{ form_row(form.dateMis) }}
<div class="col-sm-8 col-sm-offset-2" id="client" data-prototype="{{ form_widget(form.IdClient.vars.prototype)|e('html_attr') }}">
    {% for row in form.IdClient %}
        
        <div class="panel panel-warning">
            <div class="panal-heading">
               <strong> {{ row.vars.value.Nom }} </strong>
            </div>
            <div class="panel-body">
                {{ form_row(row) }}
            </div>
        </div>
    {% endfor %}

</div>

{{ form_end(form) }}
</div>


{{ include('hf/footer.html.twig') }}
