{{ include('hf/header_admin.html.twig') }}
<div class="container">
    <h3>Chauffeur update</h3>
    <a href="{{ path('chauffeur_index') }}" class="btn btn-primary btn-sm">Back</a>
    {{ form_start(form) }}

    {{ form_widget(form) }}
    <input type="submit" value="Edit" class="btn btn-primary btn-sm"/>

    {{ form_end(form) }}


</div>


{{ include('hf/footer.html.twig') }}
