{{ include('hf/header_admin.html.twig') }}
<style>
    body {
        background-image: url("{{ absolute_url(asset('Bundles/bureau-twenty-1920x1027.jpg')) }}");
        background-color: #cccccc;
    }
</style>
<br>
<div class="container">
    <div class="row">
        <a href="{{ path('chauffeur_new') }}" class="btn btn-primary" style="position: absolute; right: 10px;">Ajouter chauffeur</a>
    </div>
    <br>
    <h3>Liste des chauffeurs</h3>
    <table class="table table-dark">
        <thead>
            <tr>
                <th>Id</th>
                <th>Cin</th>
                <th>Nom et prenom</th>
                <th>Numero telephone</th>
                <th>Date debut</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for chauffeur in chauffeurs %}
            <tr>
                <td><a href="{{ path('chauffeur_show', { 'id': chauffeur.id }) }}">{{ chauffeur.id }}</a></td>
                <td>{{ chauffeur.cin }}</td>
                <td>{{ chauffeur.nomprenom }}</td>
                <td>{{ chauffeur.tel }}</td>
                <td>{% if chauffeur.datenes %}{{ chauffeur.datenes|date('Y-m-d') }}{% endif %}</td>
                <td>
                    <a href="{{ path('chauffeur_show',{'id':chauffeur.id}) }}" class="btn btn-primary btn-sm">Afficher</a>
                    <a href="{{ path('chauffeur_edit',{'id':chauffeur.id})}}" class="btn btn-light">Modifier</a>
                    <a href="{{ path('chauffeur_delete',{'id':chauffeur.id})}}" class="btn btn-danger btn-sm"
                     >Supprimer</a>


                </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
</div>


{{ include('hf/footer.html.twig') }}