{{ include('hf/header_gestionnaire.html.twig') }}
<br>
<!--<style>
    body {
        background-image: url("{{ absolute_url(asset('Bundles/rrrrrrrrrrrrrr.jpg')) }}");
        background-color: #cccccc;
    }

</style> -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
<script>
    $('#myModal').on('shown.bs.modal', function () {
        $('#myInput').trigger('focus')
    });
    $(document).ready(function() {
        $('#example').DataTable();
    } );

</script>

<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>

<div class="container">
    <div class="row">
        <a href="{{ path('produit_new') }}" class="btn btn-primary" style="position: absolute; right: 10px;">Ajouter Produit</a>
    </div>
    <br>
    <h1   style="color:black;">Listes des Produits:</h1>
    <table id="example" class="table table-striped" style="width:100%">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom de produit</th>
                <th>Type de produit</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for produit in produits %}


            <tr>
                <td><a href="{{ path('produit_show', { 'id': produit.id }) }}">{{ produit.id }}</a></td>
                <td>{{ produit.nomProduit }}</td>
                <td>
                   {{ produit.idType }}
                </td>
                <td>
                    <a href="{{ path('produit_edit',{'id':produit.id})}}" class="btn btn-light">Modifier</a>
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal" data-whatever="{{ produit.id }}">
                        supprimer
                    </button>

                </td>

            </tr>


        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <th>Id</th>
            <th>Nom de produit</th>
            <th>Type de produit</th>
            <th>Actions</th>
        </tr>
        </tfoot>
    </table>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Vous etes sur de supprimer?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="{{ path('produit_delete') }}">

                    <input type="text" class="form-control" id="recipient-name" hidden name="id">
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">annuler</button>
                        <button type="submit" class="btn btn-danger">supprimer</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
<script>

    $('#exampleModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget) // Button that triggered the modal
        var recipient = button.data('whatever') // Extract info from data-* attributes
        // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
        // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
        var modal = $(this)
        modal.find('.modal-title').text('Vous etes sur de supprimer ' + recipient)
        modal.find('.modal-body input').val(recipient)
    })
</script>
{{ include('hf/footer.html.twig') }}

