{{ include('hf/header_gestionnaire.html.twig') }}

<div class="container">
    <form method="POST">
        <input type="text" name="recherche">
        <input type="submit" name="submit" value="recherche">
    </form>
    <div class="row">
        <a href="{{ path('produit_new') }}" class="btn btn-primary" style="position: absolute; right: 10px;">Ajouter Produit</a>
    </div>
    <br>
    <h3>List des Gestionnaire</h3>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom de produit</th>
                <th>Type de produit</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for produit in produits %}


            <tr>
                <td><a href="{{ path('produit_show', { 'id': produit.id }) }}">{{ produit.id }}</a></td>
                <td>{{ produit.nomProduit }}</td>
                <td> {% for p in produit.IdType %}
                   {{ p.type }}
                {% endfor %} </td>
                <td>
                    <a href="{{ path('produit_edit',{'id':produit.id})}}" class="btn btn-light">Edit</a>
                    <a href="{{ path('produit_delete',{'id':produit.id})}}" class="btn btn-danger btn-sm">Delete</a>
                </td>

            </tr>


        {% endfor %}
        </tbody>
    </table>
</div>

{{ include('hf/footer.html.twig') }}

