{{ include('hf/header_gestionnaire.html.twig') }}
<style>
        body {
                background-image: url("{{ absolute_url(asset('Bundles/ffffffffffffff.jpg')) }}");
                background-color: #cccccc;
        }
</style>
<div class="container">

<h1>Creation de produit</h1>

{{ form_start(form) }}
        {{ form_widget(form) }}
<input type="submit" value="Crée" class="btn btn-primary" />
{{ form_end(form) }}

<a href="{{ path('produit_index') }}" class="btn btn-primary ">Retour</a>
</div>
{{ include('hf/footer.html.twig') }}

