{{ include('hf/header_gestionnaire.html.twig') }}
<style>
    body {
        background-image: url("{{ absolute_url(asset('Bundles/millenium3.jpg')) }}");
        background-color: #cccccc;
    }
</style>
<h1>Produit</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ produit.id }}</td>
            </tr>
            <tr>
                <th>Nomproduit</th>
                <td>{{ produit.nomProduit }}</td>
            </tr>
            <tr>
                <th>Typeproduit</th>
                <td>{{ produit.idType }}</td>
            </tr>
            <tr>
                <th>Nbproduit</th>
                <td>{{ produit.nbProduit }}</td>
            </tr>
        </tbody>
    </table>
{{ include('hf/footer.html.twig') }}


