{{ include('hf/header_gestionnaire.html.twig') }}
<style>
    body {
        background-image: url("{{ absolute_url(asset('Bundles/millenium3.jpg')) }}");
        background-color: #cccccc;
    }
</style>
<h1>Produit</h1>
<br><br><br>
<div class="col-md-9 container">
    <div class="card">
        <div class="card-body">
    <table>
        <tbody>
            <tr>
                <th>Id    </th>
                <td style="color: #2C009F">{{ produit.id }}</td>
            </tr>
            <tr>
                <th>Nom de produit    </th>
                <td style="color: #2C009F">{{ produit.nomProduit }}</td>
            </tr>
            <tr>
                <th>Type de produit    </th>
                <td style="color: #2C009F">{{ produit.idType }}</td>
            </tr>

        </tbody>
    </table>
        </div></div></div>
{{ include('hf/footer.html.twig') }}


