{{ include('hf/header_admin.html.twig') }}
<style>
    body {
        background-image: url("{{ absolute_url(asset('Bundles/bibliotheque1-1920x1027.jpg')) }}");
        background-color: #cccccc;
    }
</style>
<br>
<script>
    $('#myModal').on('shown.bs.modal', function () {
        $('#myInput').trigger('focus')
    })
</script>
<div class="container">
    <div class="row">
        <a href="{{ path('gestionnaire_new') }}" class="btn btn-primary" style="position: absolute; right: 10px;">Ajouter
            gestionnaire</a>
    </div>
    <br>
    <h3>Liste des Gestionnaires</h3>
    <table class="table table-dark">
        <thead>
        <tr>
            <th>Id</th>
            <th>Cin</th>
            <th>Nom et prenom</th>
            <th>Email</th>
            <th>Adress</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for gestionnaire in gestionnaires %}
            <tr>
                <td><a href="{{ path('gestionnaire_show', { 'id': gestionnaire.id }) }}">{{ gestionnaire.id }}</a></td>
                <td>{{ gestionnaire.cin }}</td>
                <td>{{ gestionnaire.nomprenom }}</td>
                <td>{{ gestionnaire.email }}</td>
                <td>{{ gestionnaire.adress }}</td>
                <td>
                    <a href="{{ path('gestionnaire_show',{'id':gestionnaire.id}) }}" class="btn btn-primary btn-sm">Afficher</a>
                    <a href="{{ path('gestionnaire_edit',{'id':gestionnaire.id}) }}" class="btn btn-light">Modifier</a>
                    <a href="{{ path('gestionnaire_delete',{'id':gestionnaire.id})}}" class="btn btn-danger btn-sm" >Supprimer</a>
                   <!-- <div class="modal fade" id="{{'id' ~gestionnaire.id}}" tabindex="-1" role="dialog"
                         aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Are you sure ?</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">

                                </div>
                                <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close
                                        </button>
                                        <button type="submit" class="btn btn-primary" > Save changes</button>

                                </div>
                            </div>
                        </div>
                    </div>
data-toggle="modal" data-target="#{{'id' ~gestionnaire.id}}"-->

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{{ include('hf/footer.html.twig') }}
