{{ include('hf/header_admin.html.twig') }}
<div class="container">
    <div class="row">
        <a href="{{ path('gestionnaire_new') }}" class="btn btn-primary" style="position: absolute; right: 10px;">Ajouter gestionnaire</a>
    </div>
    <br>
    <h3>List des Gestionnaire</h3>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Cin</th>
                <th>Nom et prenom</th>
                <th>Email</th>
                <th>Adress</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for gestionnaire in gestionnaires %}
            <tr>
                <td><a href="{{ path('gestionnaire_show', { 'id': gestionnaire.id }) }}">{{ gestionnaire.id }}</a></td>
                <td>{{ gestionnaire.cin }}</td>
                <td>{{ gestionnaire.nomprenom }}</td>
                <td>{{ gestionnaire.email }}</td>
                <td>{{ gestionnaire.adress }}</td>
                <td>
                    <a href="{{ path('gestionnaire_show',{'id':gestionnaire.id}) }}" class="btn btn-primary btn-sm">View</a>
                    <a href="{{ path('gestionnaire_edit',{'id':gestionnaire.id})}}" class="btn btn-light">Edit</a>
                    <a href="{{ path('gestionnaire_delete',{'id':gestionnaire.id})}}" class="btn btn-danger btn-sm">Delete</a>


                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{{ include('hf/footer.html.twig') }}
