{{ include('hf/header_admin.html.twig') }}
<style>
    body {
        background-image: url("{{ absolute_url(asset('Bundles/boss-bulle-deau-decor-1920x1027.jpg')) }}");
        background-color: #cccccc;
    }
</style>
<div class="container">

<h1>Gestionnaire Creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Ajouter" class="btn btn-dark" />
    {{ form_end(form) }}

<a href="{{ path('gestionnaire_index') }}" class="btn btn-primary ">Retour</a>
</div>
{{ include('hf/footer.html.twig') }}
