{{ include('hf/header_admin.html.twig') }}
<style>
    body {
        background-image: url("{{ absolute_url(asset('Bundles/step1 (1).jpg')) }}");
        background-color: #cccccc;
    }
</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>.star-rating {
        line-height:32px;
        font-size:1.25em;
    }

    .star-rating .fa-star{color: yellow;}

</style>
<script>var $star_rating = $('.star-rating .fa');

    var SetRatingStar = function() {
        return $star_rating.each(function() {
            if (parseInt($star_rating.siblings('input.rating-value').val()) >= parseInt($(this).data('rating'))) {
                return $(this).removeClass('fa-star-o').addClass('fa-star');
            } else {
                return $(this).removeClass('fa-star').addClass('fa-star-o');
            }
        });
    };

    $star_rating.on('click', function() {
        $star_rating.siblings('input.rating-value').val($(this).data('rating'));
        return SetRatingStar();
    });

    SetRatingStar();
    $(document).ready(function() {

    });</script>
<br>
<br>
<br>
<div class="container">

<div class="row">
    <!-- ============================================================== -->
    <!-- sales  -->
    <!-- ============================================================== -->
    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
        <div class="card border-3 border-top border-top-primary">
            <div class="card-body">
                <h5 class="text-muted">Janvier</h5>
                <div class="metric-value d-inline-block">
                    <h1 class="mb-1">10495</h1>
                </div>
                <div class="metric-label d-inline-block float-right text-success font-weight-bold">
                    <span class="icon-circle-small icon-box-xs text-success bg-success-light"><i class="fa fa-fw fa-arrow-up"></i></span><span class="ml-1">0%</span>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- end sales  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- new customer  -->
    <!-- ============================================================== -->
    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
        <div class="card border-3 border-top border-top-primary">
            <div class="card-body">
                <h5 class="text-muted">Fervier</h5>
                <div class="metric-value d-inline-block">
                    <h1 class="mb-1">12495</h1>
                </div>
                <div class="metric-label d-inline-block float-right text-success font-weight-bold">
                    <span class="icon-circle-small icon-box-xs text-success bg-success-light"><i class="fa fa-fw fa-arrow-up"></i></span><span class="ml-1">10.2%</span>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- end new customer  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- visitor  -->
    <!-- ============================================================== -->
    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
        <div class="card border-3 border-top border-top-primary">
            <div class="card-body">
                <h5 class="text-muted">Mars</h5>
                <div class="metric-value d-inline-block">
                    <h1 class="mb-1">13000</h1>
                </div>
                <div class="metric-label d-inline-block float-right text-success font-weight-bold">
                    <span class="icon-circle-small icon-box-xs text-success bg-success-light"><i class="fa fa-fw fa-arrow-up"></i></span><span class="ml-1">4.5%</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
        <div class="card border-3 border-top border-top-primary">
            <div class="card-body">
                <h5 class="text-muted">Avril</h5>
                <div class="metric-value d-inline-block">
                    <h1 class="mb-1">14300</h1>
                </div>
                <div class="metric-label d-inline-block float-right text-success font-weight-bold">
                    <span class="icon-circle-small icon-box-xs text-success bg-success-light"><i class="fa fa-fw fa-arrow-up"></i></span><span class="ml-1">10%</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
        <div class="card border-3 border-top border-top-primary">
            <div class="card-body">
                <h5 class="text-muted">Mai</h5>
                <div class="metric-value d-inline-block">

                    <h1 class="mb-1">{{ prices[0][1] -30000 }}</h1>
                </div>
                <div class="metric-label d-inline-block float-right text-success font-weight-bold">
                    <span class="icon-circle-small icon-box-xs text-success bg-success-light"><i class="fa fa-fw fa-arrow-down"></i></span><span class="ml-1">5%</span>
                </div>
            </div>
        </div>
    </div>
</div>
    <br>
{% for m in missions %}

<div class="card text-white bg-primary mb-3" >

    <h5>Chauffeur : {{ m.idChauf }}</h5>
    <br>
    <ul>
        <!--  <a href="{{ path('client_new') }}">Create a new client</a> -->

        <table class="table table-hover">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Numero telephone</th>
                <th>produit</th>
                <th>rate</th>
            </tr>
            </thead>
            <tbody>
            {% for c in m.idClient %}
                <tr style="color: #EEEEEE">
                    <td> {{ c.nom }}</td>
                    <td> {{ c.tel }}</td>
                    <td>{% for p in c.IdProduit %}
                            {{ p.nomProduit }} <br>
                        {% endfor %}</td>
                    <td>
<td>
                        {% if c.rate ==1 %}
                                <div class="col-lg-12">
                                    <div class="star-rating">
                                        <span class="fa fa-star-o" data-rating="1"></span>
                                        <input type="hidden" name="whatever1" class="rating-value" value="3">
                                    </div>
                                </div>

            {% else %}
                {% if c.rate ==2 %}
                <div class="col-lg-12">
                    <div class="star-rating">
                        <span class="fa fa-star-o" data-rating="1"></span>
                        <span class="fa fa-star-o" data-rating="2"></span>
                        <input type="hidden" name="whatever1" class="rating-value" value="3">
                    </div>
                </div>
                {% else %}
                    {% if c.rate ==4.5 %}
                        <div class="col-lg-12">
                            <div class="star-rating">
                                <span class="fa fa-star-o" data-rating="1"></span>
                                <span class="fa fa-star-o" data-rating="2"></span>
                                <span class="fa fa-star-o" data-rating="3"></span>
                                <span class="fa fa-star-o" data-rating="4"></span>
                                <span class="fa fa-star-half-o" data-rating="4"></span>

                                <input type="hidden" name="whatever1" class="rating-value" value="3">
                            </div>
                        </div>
                    {% else %}
                        {% if c.rate ==3.5 %}
                            <div class="col-lg-12">
                                <div class="star-rating">
                                    <span class="fa fa-star-o" data-rating="1"></span>
                                    <span class="fa fa-star-o" data-rating="2"></span>
                                    <span class="fa fa-star-o" data-rating="3"></span>
                                    <span class="fa fa-star-half-o" data-rating="4"></span>

                                    <input type="hidden" name="whatever1" class="rating-value" value="3">
                                </div>
                            </div>
                        {% else %}
                            {% if c.rate ==2.5 %}
                                <div class="col-lg-12">
                                    <div class="star-rating">
                                        <span class="fa fa-star-o" data-rating="1"></span>
                                        <span class="fa fa-star-o" data-rating="2"></span>

                                        <span class="fa fa-star-half-o" data-rating="4"></span>

                                        <input type="hidden" name="whatever1" class="rating-value" value="3">
                                    </div>
                                </div>
                            {% else %}
                                {% if c.rate ==1.5 %}
                                    <div class="col-lg-12">
                                        <div class="star-rating">
                                            <span class="fa fa-star-o" data-rating="1"></span>

                                            <span class="fa fa-star-half-o" data-rating="4"></span>

                                            <input type="hidden" name="whatever1" class="rating-value" value="3">
                                        </div>
                                    </div>
                                {% else %}
                                    {% if c.rate ==0.5 %}
                                        <div class="col-lg-12">
                                            <div class="star-rating">

                                                <span class="fa fa-star-half-o" data-rating="4"></span>

                                                <input type="hidden" name="whatever1" class="rating-value" value="3">
                                            </div>
                                        </div>
                                    {% else %}
                    {% if c.rate ==3 %}
                    <div class="col-lg-12">
                        <div class="star-rating">

                            <span class="fa fa-star-o" data-rating="1"></span>
                            <span class="fa fa-star-o" data-rating="2"></span>
                            <span class="fa fa-star-o" data-rating="3"></span>
                            <input type="hidden" name="whatever1" class="rating-value" value="3">
                        </div>
                    </div>
                    {% else %}
                        {% if c.rate ==4 %}
                        <div class="col-lg-12">
                            <div class="star-rating">

                                <span class="fa fa-star-o" data-rating="1"></span>
                                <span class="fa fa-star-o" data-rating="2"></span>
                                <span class="fa fa-star-o" data-rating="3"></span>
                                <span class="fa fa-star-o" data-rating="4"></span>


                                <input type="hidden" name="whatever1" class="rating-value" value="3">
                            </div>
                        </div>
                        {% else %}
                            {% if c.rate ==5 %}
                            <div class="col-lg-12">
                                <div class="star-rating">

                                    <span class="fa fa-star-o" data-rating="1"></span>
                                    <span class="fa fa-star-o" data-rating="2"></span>
                                    <span class="fa fa-star-o" data-rating="3"></span>
                                    <span class="fa fa-star-o" data-rating="4"></span>
                                    <span class="fa fa-star-o" data-rating="5"></span>


                                    <input type="hidden" name="whatever1" class="rating-value" value="3">
                                </div>
                            </div>
                            {% else %}
                                <div class="col-lg-12">
                                    <div class="star-rating">



                                        <input type="hidden" name="whatever1" class="rating-value" value="3">
                                    </div>
                                </div>
                               {% endif %}
                        {% endif %}
                    {% endif %}
                {% endif %}
                        {% endif %}
                        {% endif %}
                        {% endif %}
                        {% endif %}
                        {% endif %}
                        {% endif %}
                    </td>

                </tr>
            {% endfor %}

            </tbody>
        </table>


    </ul>
</div>
{% endfor %}
</div>


{{ include('hf/footer.html.twig') }}